@import "navbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;

}

#qvct,
#pariculiers,
.massage-main-container,
.massage-prestations-main-container,
.pie-and-line-chart-container {
    margin-top: 8rem;
}

/* ----- section accueil ----- */

.equipe-professionnels-container,
.notre-approche-container,
.consultations-seul-fleurs-container,
.consultation-fleurs-section  {
    margin-top: 10rem;
}

.slogan-et-video-container {
    height: 40rem;
    border-bottom-left-radius: 6rem;
    background-color: #f7cac5;
}

.video-container {
    padding: 3rem;
    align-self: center;
}

/* slogan */
.section-accueil h1 {
    margin-left: 3rem;
    font-size: 4rem;
    color: #fff;
    line-height: 5rem;
    align-self: center;
    height: 20%;
    min-height: 20%;
    margin-bottom: 4rem;
}

/* equipe a votre servce */
.section-accueil h2 {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #efafab;
}

.list-professionnels {
    align-self: center;
    line-height: 2rem;
    font-weight: lighter;
    font-size: large;
    margin-left: 5rem;
    padding-right: 4rem;
}

.line-separator-equipe-pro {
    width: 2px;
    height: 100%;
    margin-left: 3rem;
    background-color: #f7cac5;
}

.img-serenite {
    width: 30%;
    min-width: 20%;
}

/* notre approche */
.notre-approche-container h2 {
    color: black;
    text-decoration: underline #f7cac5 2px solid;
    text-underline-offset: .5rem;
    text-align: start;
}

.notre-approche-flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    width: 40rem;
}

.item-notre-approche {
    font-weight: normal;
    font-size: large;
    text-align: center;
    background-color: #f7cac5;
}

.paragraphe-accompagnement {
    margin-top: 1rem;
    width: 28rem;
    align-self: center;
    line-height: 2rem;
}

.item-notre-approche {
    align-self: center;
}


/* ----- section prestations ----- */
.section-prestations {
    margin-top: 10rem !important;
}

.prestation-title {
    width: 17rem;
}

/* bien-être */
#bien-etre, #vos-enjeux, #apropos{
    margin-top: 3rem;
}
.bien-etre-title,
.particuliers-title,
.notre-reponse-title {
    color: black;
    text-decoration: underline #f7cac5 2px solid;
    text-underline-offset: .5rem;
    text-align: start;
    font-size: 1.2rem !important;
}

.img-bien-etre-prestation {
    width: 33rem;
}

.img-bien-etre-prestation-qvct {
    width: 28rem;
}

.paragraphe-prestation {
    width: 34rem;
    align-self: center;
    font-weight: lighter;
    line-height: 2rem;
}

.paragraphe-prestation-qvct {
    width: 40rem;
    align-self: center;
    font-weight: lighter;
    line-height: 2rem;
}

.line-separator {
    width: 2px;
    background-color: #f7cac5;
}

.line-separator-hor {
    margin-top: 1.5rem;
    height: 2px;
    background-color: #f7cac5;
}

/* bar chart */
.main-etude-collab-container {
   margin-top: 7rem;
}

.chart-container {
    margin-top: 4rem;
}

.bar-container {
    width: 25rem;
}

.collabs-container {
    width: 44rem;
    align-self: center;
}

.collab-paragraphe {
    line-height: 2rem;
}

.square {
    height: 1.5rem;
    width: 2.5rem;

}

.light-green {
    margin-top: .5rem;
    background-color: #a3cd8a;
}

.light-pink {
    background-color: #f7cac5;
}

.dark-pink {
    margin-top: .5rem;
    background-color: #efafab;
}

.light-green-ipad {
    width: 1.75rem;
}

.etude-bien-etre-title,
.accompagnement-complet-title,
.consultation-seule-title,
.consultation-fleurs-title,
.massage-prestations-title {
    font-size: 1.1rem;
    color: #efafab;
}

.prevention-accompagnement-title {
    color: #efafab;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.consultation-fleurs-title, .massage-prestations-title {
    margin-bottom: 2rem;
}

.objectif-bien-etre-paragraphe {
    font-weight: lighter;
    font-size: .8rem;
}

.alan-et-harris-paragraphe, .hs-le-must-paragraphe {
    color: #efafab;
}

/* qvct */

.pie-and-line-chart-flex-container {
    margin-top: 3rem;
}

/* doughnut chart */
.pie-chart-flex-container {
   width: 25rem;
}

.doughnut-paragraphe {
    width: 33.5rem;
}

.doughnut-paragraphe, .line-paragraphe, #content-etude{
    font-weight: lighter;
    line-height: 2rem;
}

/* line-chart */
.line-chart-flex-container {
    margin-top: 4.5rem;
}

.line-chart-flex-container {
    width: 30rem;
}

#line-chart-accordion {
    margin-left: 1rem;
    font-size: 2rem;
}

#line-chart-accordion > svg {
    cursor: pointer;
    margin-bottom: 2rem;
}

#content-etude {
    max-height: 0;
    opacity: 0;
    display: block;
    transition: 0.4s;
    width: 25rem;
    margin-top: .5rem;
    background-color: white;
    /*display: none;*/
    overflow: hidden;
}

em {
    color: #efafab;
    font-weight: normal;
}

/* particuliers */

.paragraphe-prestation-accopmpagnement-complet {
    margin-top: 3.5rem;
    width: 28rem;
    font-weight: lighter;
    line-height: 2rem;
}

.content-accompagnement-complet-grid {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2rem;
}

.accompagnement-complet-container {
    align-self: center;
    width: 43rem;
    max-width: 43rem;
}

.bilan-title, .bilan-title-2 {
    margin-top: 2rem;
    width: 16rem;
    line-height: 1.5rem;
}

.fleurs-bach-title {
    width: 16rem;
    line-height: 1.5rem;
}

.bilan-title-2 {
    margin-left: -1rem;
}

.accompagnement-complet-item {
    margin-left: 1rem;
}

.accompagnement-complet-list, .fleurs-bach-list {
    font-size: .85rem;
}

.bilan-item::before {
    content: "";
    width: .4em;
    height: .4em;
    background-color: #efafab;
    display: inline-block;
    margin-left: -1rem;
    margin-bottom: .15rem;
    margin-right: .5rem;
}

.accompagnement-complet-item::before {
    content: "•";
    color: #efafab;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.qui-sommes-nous-item::before {
    content: "";
    width: .4em;
    height: .4em;
    background-color: #fff;
    display: inline-block;
    margin-left: -1rem;
    margin-bottom: .15rem;
    margin-right: .5rem;
}

.compte-rendu-plus {
    cursor: pointer;
    color: #efafab;
    font-size: 1.5rem;
}

#compte-rendu, #fleurs-bach {
    cursor: pointer;
    text-decoration: #efafab solid 1px;
    font-size: .85rem;
    flex: 1;
    padding: 0 2.5rem 0 .5rem;
    font-weight: bold;
}


#compte-rendu-content, #fleurs-bach-content{
    max-height: 0;
    display: block;
    opacity: 0;
   /* display: none;*/
}

.consulation-seule-section {
    margin-top: 2rem;
    align-self: center;
}

.consultation-fleurs-section {
    margin-top: 3.5rem;
}

.consultation-fleurs-paragraphe {
    margin-top: 2rem;
    width: 25rem;
}

.consultation-seule-bilan-list,
.consultation-fleurs-bach-list,
.fleurs-bach-list,
.massage-prestations-list {
    line-height: 2rem;
    font-weight: lighter;
    margin-left: 1rem;
}

.consultation-fleurs-bach-container-flex {
    width: 48em;
}

.consultation-seule-content,
.consultation-fleurs-bach-container,
.fleurs-bach-container {
    margin-top: 2rem;
}

.fleurs-bach-container {
    max-width: 55%;
    width: 55%;
    padding-left: .5rem;
}

.fleurs-bach-list {
    margin-bottom: 1rem;
}

.consultation-fleurs-paragraphe {
    line-height: 2rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.em-element-fleur-bach {
    margin-top: .15rem;
}

.img-bien-fleurs-bach {
    margin-top: 2.5rem;
    width: 25rem;
}

.img-massage {
    width: 35rem;
}

.massage-paragraphe {
    line-height: 2rem;
    width: 35rem;
    align-self: center;
}

.content-anamnese {
    max-width: 20rem;
    width: 20rem;
    margin-bottom: .75rem;
}

.message-prestation-section:nth-child(1) {
    padding-right: 1rem;
    width: 27rem;
}

.message-prestation-section:nth-child(3) {
    padding-left: 1.5rem;
    padding-right: 1rem;
    width: 30rem;
}

.message-prestation-section-after-line {
    padding-left: 1.5rem;
    width: 18rem;
}

#massage-content-1,
#massage-content-2,
#massage-content-3,
#massage-content-4 {
    max-height: 0;
    display: block;
    opacity: 0;
   /* display: none;*/
    font-size: .85rem;
}

#massage-presta-1,
#massage-presta-2,
#massage-presta-3,
#massage-presta-4 {
    font-size: .75rem;
    font-weight: bold;
    margin-left: .5rem;
    cursor: pointer;
}

/* section vos enjeux */
.mosaique-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2rem;
    background-image: url('/../images/wellness.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: hue-rotate(110deg);
    -webkit-filter: hue-rotate(110deg);
}

.prevention-accompagnement {
    width: 65%;
    align-self: center;
}

.line-separator-mosaique{
    width: 5px !important;
}

.prevention-accompagnement-list {
    font-weight: lighter;
    line-height: 2rem;
}

.item-mosaique-grid {
    display: flex;
    padding: 1.7rem;
    border: white 8px solid;
}

.item-mosaique-grid > div{
    width: 100%;
    display: flex;
    align-self: center;
    max-height: 7rem;
}

/* section à propos */
.apropos-title {
    width: 14.5rem;
}

.qui-sommes-nous-paragraphe {
    width: 35rem;
    line-height: 2rem;
   margin-top: 5rem;
}

.qui-sommes-nous-items {
    width: 100%;
    background-color: #efafab;
    align-self: center;
}

.qui-sommes-nous-items:nth-child(1),
.qui-sommes-nous-items:nth-child(2) {
    margin-bottom: 2rem;
}

.qui-sommes-nous-items > div > h2 {
    align-items: center;
    margin-right: 2rem;
    font-size: 1rem;
    color: #fff;
    
}

.qui-sommes-nous-item-content-1-list,
.qui-sommes-nous-item-content-2-list,
.qui-sommes-nous-item-content-3-list {
    line-height: 2rem;
    font-weight: lighter;
    margin-left: 2.5rem;
    padding: 1.5rem 0;
}

#qui-sommes-nous-item-content-1,
#qui-sommes-nous-item-content-2,
#qui-sommes-nous-item-content-3 {
    z-index: 100;
    max-height: 0;
    display: block;
    opacity: 0;
   /* display: none;*/
    background-color: #f8d1cf;
    transition: 1s;
    border-bottom-left-radius: .5rem;
}

#toggleAproposItem_1,
#toggleAproposItem_2,
#toggleAproposItem_3 {
    position: relative;
    z-index: 9999;
}

#toggleAproposItem_1:hover,
#toggleAproposItem_2:hover,
#toggleAproposItem_3:hover {
   cursor: pointer ;
}


@media all and (max-width: 991px) {
    .line-left,
    .line-under-video,
    br,
    .line-separator-hor {
       display: none;
    }

    /* Slogan et video */
    .slogan-et-video-container {
        height: 50%;
        padding: 1.5rem;
        margin-top: 1rem;
        background-color: #f7cac5;
        border-bottom-left-radius: 2rem;
    }

    .video-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /* slogan */
    .section-accueil h1 {
        margin-top: 2rem !important;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        color: #fff;
        line-height: 1.5rem;
        margin-left: 0;
        width: 100%;
        font-weight: bold;
    }

    /* équipe à votre service */
    .section-accueil h2 {
        margin-top: 0;
        font-size: .9rem;
        line-height: 1.5rem;
        color: #efafab;
        font-weight: bold;
    }

    .equipe-professionnels-container {
        margin-top: 1.5rem;
    }

    .list-professionnels {
        font-size: .8rem;
        margin-left: 0;
        margin-top: .5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
        width: 100%;
        padding-bottom: 1.5rem;
    }

    .line-separator-equipe-pro {
        width: 100%;
        height: 2px;
        background-color: #f7cac5;
        margin: 0;
    }

    .img-serenite {
        padding-top: 2rem;
        width: 100%;
    }

    /* notre approche */
    .notre-approche-container {
        margin-top: 2rem;
    }

    .notre-approche-container h2 {
        color: black;
        text-align: start;
        text-decoration: underline #f7cac5 2px solid;
        text-underline-offset: .5rem;
    }

   .paragraphe-accompagnement {
        font-size: .8rem;
        width: 100%;
    }

    .notre-approche-flex-container {
        margin-top: 1.4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
    }

    /* ---- section prestations ---- */
    .section-prestations {
        margin-top: 3rem !important;
    }

    .main-etude-collab-container {
        margin-top: 2rem;
    }

    .img-bien-etre-prestation, .img-massage {
        margin-top: 2rem;
        width: 100%;
    }


    .bien-etre-title,
    .particuliers-title,
    .notre-reponse-title {
        color: black;
        text-align: start;
        text-decoration: underline #f7cac5 2px solid;
        text-underline-offset: .5rem;
        font-size: .9rem !important;
        line-height: 2rem;
    }

    .etude-bien-etre-title,
    .alan-et-harris-paragraphe,
    .accompagnement-complet-title,
    .consultation-seule-title,
    .consultation-fleurs-title,
    .massage-prestations-title {
        font-size: .9rem !important;
    }

    .prestation-title {
        width: 10rem;
    }

    .paragraphe-prestation {
        width: 100%;
        font-size: .8rem;
        margin-top: 1rem;
        line-height: 1.5rem;
    }

    .bar-container {
        margin-bottom: .4rem;
    }

    #qvct, .massage-main-container {
        margin-top: 4rem;
    }

    .paragraphe-prestation-qvct {
        width: 100%;
        font-size: .8rem;
        margin-top: 1rem;
        line-height: 1.5rem;
    }

    .em-element-fleur-bach,
    .em-element {
        font-size: .8rem !important;
    }

    .img-bien-etre-prestation-qvct {
        margin-top: 2rem;
        width: 100%;
        padding: 3rem;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .align-between {
        align-content: space-between;
    }

    .line-separator {
        height: 2px;
        width: 100%;
        margin-top: 1.5rem;
    }

    /* bar chart */
    .chart-container {
        margin-top: 2rem;
    }
    .collabs-container, .bar-container,
    .width-qui-sommes-nous {
        width: 100%;
    }

    .collabs-container {
        margin-top: 1.5rem;
    }

    .objectif-bien-etre-paragraphe,
    .prevention-accompagnement-list {
        line-height: 1.5rem;
    }

    .collab-paragraphe {
        padding-left: 1rem;
        line-height: 1.5rem;
       font-size: .8rem;
    }

    .square {
        width: 2rem;
        height: 1rem;
        max-width: 2rem;
    }

    /* line-chart and doughnut-chart */
    #pieChart {
        padding: 0rem 3rem 0rem 3rem;
    }

    .pie-and-line-chart-container, .consultations-seul-fleurs-container {
        margin-top: 5rem;
    }
    .pie-chart-flex-container, .line-chart-flex-container {
        width: 100%;
    }

    #content-etude {
        margin-top: -1rem;
        width: 15rem;
        margin-bottom: 2.5rem;
    }

    .doughnut-paragraphe {
        width: 42.5rem;
    }

    .doughnut-paragraphe, .line-paragraphe, #content-etude {
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .line-chart-flex-container {
        margin-top: 1.5rem;
    }

    #line-chart-accordion > svg {
        margin-top: 1.35rem;
        width: 1rem;
    }

    em {
        font-size: .8rem;
        color: #efafab;
        font-weight: normal;
    }

    #pariculiers {
        margin-top: 1.5rem;
    }

    .accompagnement-complet-container {
        margin-top: 1.5rem;
        width: 100%;
    }

    .bilan, .consultation-seule-bilan-list {
        margin-top: .5rem !important;
        line-height: 1.5rem;
    }

    .bilan-title {
        width: 100%;
        margin-top: 1rem !important;
    }

    .naturopathie-subtitle,
    .prevention-accompagnement-title {
        font-size: .9rem;
    }

    .massage-prestations-main-container {
        margin-top: 2.25rem;
    }

    .paragraphe-prestation-accopmpagnement-complet {
        width: 100%;
        font-size: .8rem;
        margin-top: 1rem;
        line-height: 1.5rem;
    }

    .content-accompagnement-complet-grid, .consultation-seule-content  {
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        line-height: 2rem;
    }

    .accompagnement-complet-list {
        line-height: 1.5rem;
        font-size: .7rem;
    }

    .consultation-fleurs-paragraphe, 
    .consulation-seule-section,
    .massage-paragraphe, 
    .prevention-accompagnement {
        width: 100%;
    }

    .massage-container-flex {
        margin-top: 3rem;
    }

    .consultation-fleurs-paragraphe,
    .massage-paragraphe {
        margin-top: 0;
        margin-bottom: 0;
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .fleurs-bach-container {
        padding-left: 0;
    }

    .img-resize-huiles-essentielles {
        margin-top: 2rem;
        width: 100%;
    }

    .consultation-fleurs-bach-container-flex, 
    .consultation-fleurs-bach-container,
    .message-prestation-section,
    .message-prestation-section-after-line {
        width: 100%;
        font-size: .8rem;
    }

    .message-prestation-section:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }

    .fleurs-bach-title {
        line-height: 1.5rem;
    }

    .light-green-ipad {
        width: 1rem;
    }

    .consultation-fleurs-bach-list,
    .massage-prestations-list{
        line-height: 1.5rem;
    }

    .mosaique-grid {
        display: flex;
        flex-direction: column;
        width: 100% ;
        margin-left: 0;
    }
    
    .fleurs-bach-container,
    .fleurs-bach-title {
        max-width: 100%;
        width: 100%;
    }

    .fleur-bach-h4 {
        font-size: .8rem;
    }

    .em-element-fleur-bach {
        margin: 0;
    }

    .fleurs-bach-list,
    #massage-content-1,
    #massage-content-2,
    #massage-content-3 {
        font-size: .8rem;
    }

    .prevention-accompagnement-list {
        font-size: .7rem;
    }

    .message-prestation-section:nth-child(3),
    .message-prestation-section-after-line {
        margin-top: 2rem;
        width: 100%;
        padding: 0;
    }

    .item-mosaique-grid {
        display: flex;
        padding: 1rem;
        border: none;
        border-bottom: white 8px solid;
    }

    .apropos-title {
        width: 9rem;
    }

}

@media only screen and (min-width: 810px) and (orientation: portrait) {
    #line-chart-accordion > svg {
        margin-top: 0;
    }

    .light-green-ipad {
        width: 2rem;
    }

    .content-accompagnement-complet-grid {
        flex-direction: row;
    }

    #content-etude {
        display: block;
        width: 32rem;
        margin-top: -1.5rem;
    }

    .bilan-title-2 {
        margin-top: 1rem;
    }

    .consultation-fleurs-bach-container,
    .massage-prestations-main-container {
        font-size: .8rem;
    }

    .consultation-fleurs-bach-list {
        line-height: 1.5rem;
    }

    .consultation-fleurs-bach-container-flex {
        display: flex;
        flex-direction: row;
    }

    .fleurs-bach-container {
        max-width: 100%;
        width: 100%;
    }

    .fleurs-bach-list {
        font-size: .7rem;
    }

    .line-vertical-fleurs-bach,
    .line-separator-hor {
        display: none;
    }

    .message-prestation-section:nth-child(3),
    .message-prestation-section-after-line {
        margin-top: 2rem;
        width: 100%;
        padding: 0;
    }

    .accompagnement-complet-container {
        width: 100%;
        align-self: self-start;
    }
}
